.admin-navigation a {
    display: flex;
    width: 100%;}

.admin-main {
    width: 70%;
    float: left;
}

.admin-side {
    width: 30%;
    float: left;
}

.admin-article {
    width: 100%;
    
}

