/*-------article classes settings-------*/
.article {
    color: black; 
    padding-left: 10px;
    padding-right: 5px;    
}

.article-navigation {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}

.article-add a {
    color: #c89600;
    font-weight: bold;
    cursor: pointer; 
}

.article-add a:hover {
    color: #cc0033;
}

.button-article {
    color: white;
    background-color: #c89600;
    border-radius: 2px 2px 2px 2px;
    text-align: center;
    width: auto;
    height: auto;
    padding: 5px;}

.article .title {
    color: #333333;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
}

.article .title a {
    color: #333333;
}

.article .title a:hover {
    color: #cc0033;
}

.article .theme {
    background-color: #c89600;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    font-size: 15px;
    font-style: italic;
    padding: 5px;
}

/*.article .theme:before {
    content: "\12317";
}*/

.article .head-info {    
    display: flex;
    justify-content: space-between;
}
.article .author {
    background-color: #c89600;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    font-size: 15px;
    padding: 5px;
}

.article .image {
    text-align: center;
}

.article .image img {
    width: 80%;
    justify-content: space-between;
    border-radius: 2px 2px 2px 2px;
}

.article .description {
    font-size: 20px;
    margin: 10px 0px 20px 0px;
}

.article .date {
    font-size: 15px;
    font-style: italic;
    padding-top: 5px;
    padding-bottom: 5px;
}



input {
    background-color: #ababab;  
}

textarea {
    background-color: #ababab; 
}


