/* user login status styles */
.loign .user {
    max-height: 120px;
    width: 130px;
}

.user .avatar {
    width: 150px;
}


.user__avatar img {
    max-height: 150px;
    justify-content: space-between;
    border-radius: 2px 2px 2px 2px;
}

.login .user .avatar img {
    max-height: 100px;
}

.user {
    width: 100%;
}