{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('show_main') }}">Назад</a><br>
    <p><h2>{{ article.getName() }}</h2></p>
    <p>Автор: {{ article.getAuthor() }}</p>
    <p>{{ article.getDescription() }}</p>
{% endblock %}
