/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/

/Web/Symfony/yapuroshik/app/config/parameters.yml
nbproject/private/private.xml
src/Blogger/BlogBundle/Entity/Article.php~
src/Blogger/BlogBundle/Entity/Enquiry.php~
src/Blogger/UserBundle/Entity/Role.php~
src/Blogger/UserBundle/Entity/User.php~
src/Blogger/UserBundle/Entity/UserAccount.php~