{# AppBundle:Security:User:user_create.html.twig
==============================================
------------Template to create user----------#}

{% extends ':Security:admin_base.html.twig' %}

{% block content %}
    <div class="inner inner_red">
        <a href="{{ path('admin') }}">
            <div class="button button_orange">Назад</div>
        </a><br>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }} 
    </div>
{% endblock %}