{% extends 'BlogBundle::base.html.twig' %}

{% block content %}
    <a href="{{ path('show_main') }}">Назад</a><br>
    <p><h2>{{ article.name }}</h2></p>
    <p>Автор: {{ article.author }}</p>
    <p>{{ article.description }}</p>
{% endblock %}
