{# Blogger:AdminBundle:Admin namespace #}

{% extends "AdminBundle::base.html.twig" %}

{% block content %}
    <p>
        <a href="{{ path("admin") }}">Назад</a>
    </p>
    <hr>
    {% for article in articles %}
        <a href="{{ path("show_news", {id: article.id}) }}">
            {{ article.title }}
            {{ article.author }}
        </a>
        <hr>
    {% endfor %}
{% endblock %}

{% block admin_side %}
    Articles side
{% endblock %}
