{% extends 'page/nonews.html.twig' %}
{% block text %}
    <h3>
        Контактные данные
    </h3>
    <p>
        Моя группа в вконтакте: {{ asset('https://vk.com/yaproshik') }}<br>
        Мой группа в facebook: {{ asset('https://www.facebook.com/yaproshik/') }}<br>
        Для деловых предложений: {{ asset('ihomelleoni@yandex.ru') }}
    </p>
{% endblock %}
