/*--------common class settings---------*/

.row {
    display: flex;
    width: 100%;
}

.row:after {
    visibility: hidden;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .row {
    height: 1%;
}

.inner {    
    background-color: rgba(125, 75, 0, 0.99);
    height: auto;
    padding: 6px;
    margin: 5px; 
    margin-top: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 2px 2px 2px 2px;
}

.border {
    background-color: #ffffff;
    border-radius: 2px 2px 2px 2px;
    padding: 5px;
}

.inner-orange {
    color: white;
    background-color: #c89600;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 2px 2px 2px 2px;
    text-align: center;
    width: auto;
    height: auto;
    box-sizing: content-box;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
}

.error {
    color: #ff0033;
    font-size: 15px;
}

.button {
    cursor: pointer; 
}

.space-between {
   display: flex;  
   justify-content: space-between;
   align-items: flex-end;
}

/*--------symbols----------*/
.button-comment:after {
    content: "\2709";
}

.button-detailed:before {
   content: "\2709"; 
}

.go-back:before {
   content: "\2191"; 
}

.go-back:after {
   content: "\2191"; 
}

