{# Blogger:AdminBundle:Admin namespace #}

{% extends "AdminBundle::base.html.twig" %}

{% block content %}
    <p>
        <a href="{{ path("roles") }}">Назад</a>
    </p>     
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}    
{% endblock %}

{% block admin_side %}
    Roles side
{% endblock %}
