{# BlogBundle:News:comment_add.html.twig template #}
{% extends 'BlogBundle:Page:news.html.twig' %}

{% block comment_form %}
    <div class="inner">
        <div class="border">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }} 
        </div>
    </div>
{% endblock %}
