{% extends 'BlogBundle::base.html.twig' %}

{% block content %}
    <div class="inner">
        <a href="{{ path("show_main") }}">
            <div class="button inner-orange">Назад</div>
        </a><br>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }} 
    </div>
{% endblock %}