{# Blogger:BlogBundle:News:news.html.twig
=========================================
-----Template to create new article-----#}

{% extends 'BlogBundle::base.html.twig' %}

{% block content %}
    <div class="inner">
        <a href="{{ path("main") }}">
            <div class="button inner-orange">Назад</div>
        </a><br>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }} 
    </div>
{% endblock %}