{# Blogger:AdminBundle:base.html.twig
=====================================
-Template for base admin page style-#}

{% extends ":Main:index.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin_styles.css') }}">
{% endblock %}
{% block body %}
    <div class='admin-main'>
        {% block content %}{% endblock %}
    </div>
    <div class='admin-side'>
        {%block admin_side %}{% endblock %}
    </div>
{% endblock %}