/* comment.scss "comment" block */

/* block */
.comment {}

/* elements */
.comment__author {
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

.comment__avatar {
    max-height: 20px;
    border-radius: 2px 2px 2px 2px;
}

.comment__head {
    
}
.comment__author {
    width: 90%;
}

.commen__author .right {
    width: 10%;
}

.comment__date {
    font-size: 15px;
    font-style: italic;
}

/* modificators */